<section>
  <h1>Time Series Chart</h1>
  <px-cha<section>
    <h1>Time Series Chart</h1>
    <px-chart>
        <px-chart-controls data-controls show-date-range="true"></px-chart-controls>
        <px-chart-series id="turbine-time-series">
            <iron-ajax url="https://cdz-winddata-timeseries-service.run.aws-usw02-pr.ice.predix.io/services/windservices/yearly_data/sensor_id/1141A"></iron-ajax>
        </px-chart-series>
        </px-ts-chart>
</section>rt>
    <px-chart-controls data-controls show-date-range="true"></px-chart-controls>
<px-chart-series id="turbine-time-series">
  <iron-ajax url="https://cdz-winddata-timeseries-service.run.aws-usw02-pr.ice.predix.io/services/windservices/yearly_data/sensor_id/1141A"></iron-ajax>
</px-chart-series>
  </px-ts-chart>
</section>
